<script>
    export let gamepad;
    import { _ } from '../services/i18n';
</script>
  
{#if gamepad}
      <section class="select-none fixed bottom-0 left-0 w-full p-2 flex justify-center bg-gray-50 dark:bg-gray-950">
        <span class="text-gray-700 dark:text-gray-300 flex flex-row content-center mx-2">
            <svg class="dark:fill-white mx-1" width="48" height="32" version="1.1" viewBox="0 0 36 24" xmlns="http://www.w3.org/2000/svg">
                <path d="m27.902 5.65c0.18-0.2 0.52-0.19 0.7 0l3 3c0.2 0.19 0.19 0.5 0 0.7-0.18 0.2-0.52 0.19-0.7 0l-2.65-2.64-2.65 2.64c-0.19 0.2-0.5 0.19-0.7 0-0.2-0.18-0.19-0.52 0-0.7z"/>
                <path d="m2.067 11c0-5.477 4.456-9.933 9.933-9.933s9.933 4.456 9.933 9.933-4.456 9.933-9.933 9.933-9.933-4.456-9.933-9.933zm18.866 0c0-4.926-4.007-8.933-8.933-8.933s-8.933 4.007-8.933 8.933 4.007 8.933 8.933 8.933 8.933-4.007 8.933-8.933z"/>
                <path d="m27.902 18.35c0.18 0.2 0.52 0.19 0.7 0l3-3c0.2-0.19 0.19-0.5 0-0.7-0.18-0.2-0.52-0.19-0.7 0l-2.65 2.64-2.65-2.64c-0.19-0.2-0.5-0.19-0.7 0-0.2 0.18-0.19 0.52 0 0.7z"/>
                <path d="m20.764 12.275c-0.04813 0.40895-0.11351 0.78531-0.19775 1.0708-0.15239 0.51643-0.3464 1.01-0.57422 1.4795-0.41414 4.0441-3.8405 7.2085-7.9922 7.2085-4.1355 0-7.5489-3.1402-7.9849-7.1616-0.26744-0.5474-0.47546-1.1267-0.65479-1.812-0.067437-0.25774-0.1097-0.46932-0.14209-0.68701-0.097739 0.52831-0.15088 1.0713-0.15088 1.6274 0 4.9256 4.007 8.9326 8.9326 8.9326s8.9326-4.007 8.9326-8.9326c0-0.59054-0.05857-1.1668-0.16846-1.7256z" stroke-width=".89932"/>
                <path d="m13.707 13.447q0.27306 0 0.4516 0.17854 0.18904 0.16804 0.18904 0.4411 0 0.26256-0.18904 0.4411-0.17854 0.16804-0.4516 0.16804h-3.4133q-0.27306 0-0.46211-0.17854-0.17854-0.18904-0.17854-0.46211v-6.0704q0-0.27306 0.18904-0.4516 0.18904-0.18904 0.48311-0.18904 0.25206 0 0.4411 0.18904 0.19954 0.17854 0.19954 0.4516v5.6608l-0.23105-0.17854z" stroke-width=".41288" aria-label="L"/>
               </svg><b class="uppercase">{$_('gamepad.navigate')}</b>
        </span>
        <span class="text-gray-700 dark:text-gray-300 flex flex-row content-center mx-2">
            <svg class="dark:fill-white mx-1" width="32" height="32" version="1.1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g transform="translate(0 .99981)">
                 <path d="m2.067 11c0-5.477 4.456-9.933 9.933-9.933s9.933 4.456 9.933 9.933c0 5.477-4.456 9.933-9.933 9.933s-9.933-4.456-9.933-9.933zm18.866 0c0-4.926-4.007-8.933-8.933-8.933s-8.933 4.007-8.933 8.933c0 4.926 4.007 8.933 8.933 8.933s8.933-4.007 8.933-8.933z"/>
                 <path d="m12.148 8.5172-2.2307 5.2462q-0.07229 0.19622-0.2272 0.30982-0.14458 0.10327-0.32014 0.10327-0.27883 0-0.41309-0.15491t-0.13425-0.38211q0-0.09295 0.030982-0.19622l2.5715-6.1757q0.08262-0.20654 0.24785-0.32014 0.17556-0.1136 0.37178-0.092945 0.18589 0 0.3408 0.1136 0.16524 0.10327 0.23753 0.29949l2.5405 6.0517q0.05164 0.13425 0.05164 0.24785 0 0.27884-0.18589 0.44407-0.17556 0.16524-0.39243 0.16524-0.18589 0-0.3408-0.1136-0.14458-0.1136-0.2272-0.30982l-2.2204-5.1739zm-1.9105 3.9863 0.568-1.1876h2.7883l0.19622 1.1876z" stroke-width="1.4152" aria-label="A"/>
                </g>
               </svg><b class="uppercase">{$_('gamepad.confirm')}</b>
        </span>
      </section>
    {/if}
  
  <style>
    .indicator {
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      z-index: 9999;
    }
  
    .buttons {
      display: flex;
      gap: 10px;
    }
  
    .button {
      background-color: white;
      color: black;
      padding: 4px 8px;
      border-radius: 4px;
      font-size: 12px;
    }
  </style>
  